#showcase {
    background-image: url("img/gigi-logo.png");
}

.box {
    float: left;
    height: 200px;
    width: 200px;
    padding: 100px;
    text-align: center;
}
.navbar {
    float: right;
    display: inline;
    list-style-type: none;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}